@mixin blockCenter {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}
@mixin rate-color-tex {
  margin: 0;
  width: auto;
}
@mixin flexCenter {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
