@import "./variables";
.navbar {
  position: absolute;
  height: 96vh;
  left: 0;
  width: 19%;
  border-right: 3px solid #dddddd;
  .logo {
    width: 50%;
    display: block;
    margin: 25% auto 15% 10%;
  }
  .nav-icon {
    height: 45px;
    width: 45px;
    margin: 7% 0;
  }
}
.nav-item {
  color: $navbar-item-deactive;
  display: flex;
  margin: 1% auto 1% 10%;
  p {
    align-self: center;
    margin: 8% 0 5% 5%;
  }
}
.nav-active {
  color: $navbar-item-active;
}
@media screen and (max-width: $small-screen-breakpoint) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #989898;
    background: white;
    .logo {
      width: 50%;
      display: block;
      margin: auto;
    }
    .nav-icon {
      height: 35px;
      width: 35px;
    }
    .nav-item {
      color: #999999;
      display: inline-flex;
      margin: 0 1%;
      width: 31%;
      justify-content: center;
    }
    .nav-active {
      color: $navbar-item-active;
    }
    p{
      display: none;
    }
  }
}
