$navbar-item-deactive: #999999;
$navbar-item-active: #ff7223;
$page-header-title: rgb(48, 48, 48);
$input-placeholder: #cccccc;
$smooth-transition: 0.3s;
$result-title: rgb(105, 105, 105) ;
$text-margin: 3px 0; 

$small-screen-breakpoint: 550px;
$xsmall-screen-breakpoint: 320px;